data_share
media
*.npz
*.pth
*.pyc
*.xml
*.pdf
*.png
*.h5
*.pkl
requirements.txt
*.code-workspace
.idea
.ipynb_checkpoints
.DS_Store
runs
model/memory_solutions_old.ipynb
model/memory_solutions.ipynb
model/memory.ipynb
summaries
